.página_1{
    border: crimson;
    background-image: url() ;
    width: 100%;
    align-self: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-color:black;
    text-align: center;
}

hearder{

    background-color: black;
    color:aliceblue;

}
   div{background-color: darkred;
   color:aliceblue;


   }
   footer  {
    background-color: black;
    color:aliceblue;

    
   }