body{
     display: block;
     align-items: center;
     }

     img{

        width: 50%;
        height: auto;
        padding: 20px;

     }
     .texto_informativo{
        font-size: 40px;
     }