[Desktop Entry]
Version=1.0
Type=Link
Name=styles.css
Comment=
Icon=user-bookmarks
URL=https://github.com/alves17/ciencia_comp/blob/main/html/styles.css
